@using System.Data
@{
    DataTable dt = (ViewData["dbtable"] as DataTable)!;
}
<html>
<head>
    <title>GetTable1</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container m-3">
        <h3 class=mb-3>Get Table (ViewData)</h3>
        <table class='table table-bordered table-hover table-striped'>
            <tr>
                @for (int col = 0; col < dt.Columns.Count; col++)
                {
                    <th>@dt.Columns[col]</th>
                }
            </tr>

            @for (int row = 0; row < dt.Rows.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < dt.Columns.Count; col++)
                    {
                        <td>@dt.Rows[row][col]</td>
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>