<div class="my-3">
    <h2>QR Demo</h2>
</div>
<p>
    <qrcode>http://www.rp.edu.sg</qrcode>
    Republic Polytechnic
</p>
<p>
    <qrcode width="100" height="100">http://www.microsoft.com</qrcode>
    Microsoft
</p>
<p>
    <qrcode width="150" height="150">http://c236dotnet.azurewebsites.net/</qrcode>
    C236
</p>
