<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>Alerts</title>
</head>
<body>

    <div class="container m-3">

        <div class="row">
            <div class="alert alert-success col-3">
                This is success alert.
            </div>
        </div>
        <div class="row">
            <div class="alert alert-info col-4">
                This is info alert.
            </div>
        </div>
        <div class="row">
            <div class="alert alert-warning col-5">
                This is warning alert.
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger col-6">
                This is danger alert.
            </div>
        </div>

    </div>
</body>
</html>
