<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>StyleExercise</title>
</head>
<body>

    <!--TODO: L05 Task 1 Style the Web Page using Bootstrap-->
    <div class="container">
        <form method="post" action="/Controller/Action">

            <h2>Style Exercise</h2>

            <div>
                <input type="text" id="fielda" name="Fielda" />
                <label for="fielda">Field A:</label>
            </div>

            <br />
            <div>
                <input type="text" id="fieldb" name="Fieldb" />
                <label for="fieldb">Field B:</label>
            </div>

            <label>Field C : </label>
            <div>
                <input type="radio" id="rb1" name="Fieldc" value="Value1" />
                <label for="male">
                    Radio 1
                </label>
            </div>
            <div>
                <input type="radio" id="rb2" name="Fieldc" value="Value2" />
                <label for="female">
                    Radio 2
                </label>
            </div>

            <label>Field D :</label>
            <div>
                <input type="checkbox" id="opt1" name="Fieldd" value="Option1" />
                <label for="opt1">
                    Option 1
                </label>
            </div>
            <div>
                <input type="checkbox" id="opt2" name="Fieldd" value="Option2" />
                <label for="opt2">
                    Option 2
                </label>
            </div>
            <div>
                <input type="checkbox" id="opt3" name="Fieldd" value="Option3" />
                <label for="opt3">
                    Option 3
                </label>
            </div>

            <div>
                <label for="fielde">Field E : </label>
                <select id="fielde" name="Fielde">
                    <option value="">-- Select One --</option>
                    <option value="select1">Select A</option>
                    <option value="select2">Select B</option>
                    <option value="select3">Select C</option>
                    <option value="select4">Select D</option>
                </select>
            </div>

            <div>
                <label for="fieldf">Field F : </label>
                <textarea id="fieldf" name="Fieldf" cols="35" rows="4"></textarea>
            </div>

            <div>
                <input type="submit" value="Button A" />
            </div>

        </form>
    </div>

</body>
</html>