<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Organic</title>
</head>

<body>
    <div class="container m-3">
        <div class="bg-light rounded-3">
            <img src="/images/company.jpg" class="m-3 rounded-3" />
            <br /><br />
            <p class="m-3">
                Founded in 2001, <b>Organic Fruits</b> is now the world’s leading grower,
                distributor and retailer of organic produce, offering more than
                100 varieties of home-grown and imported organic fruit and vegetables.
                Since its establishment, <b>Organic Fruits</b> has been a trusted source of
                delicious and healthy food grown without chemical fertilizers or pesticides.
                <b>Organic Fruits</b> is popular because of its down-to-earth reputation
                and the quality of its tasty, fresh organic fruit & vegetables.
                These are available in many supermarkets near you.
            </p>
            <p class="m-3">
                <a href="~/organic/products">View our Products</a> |
                <a href="~/organic/subscription">Subscribe our Newsletter</a>
            </p>
            <br />
        </div>
    </div>
</body>
</html>

