<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>PubAdd</title>
</head>
<body>
    @await Html.PartialAsync("BwNavBar")
    <div class="container">

        <div class="mt-3">
            <h2>Add publisher</h2>
        </div>

        <form method="post" action="~/BookWorm/PubAddPost">

            <div class="col-md-5 mb-3 form-floating">
                <input type="text" class="form-control" id="pubid" name="PubId"
                       placeholder="pubid" />
                <label for="isbn">Publisher ID:</label>
            </div>

            <div class="col-md-5 mb-3 form-floating">
                <input type="text" class="form-control" id="pubname" name="PubName"
                       placeholder="pubname" />
                <label for="isbn">Publisher Name:</label>
            </div>

            <div class="col-md-5 mb-3 form-floating">
                <input type="text" class="form-control" id="pubaddr" name="PubAddr"
                       placeholder="pubaddr" />
                <label for="isbn">Publisher Address:</label>
            </div>

            <div class="form-group mb-3">
                <div class="col-5">
                    <input type="submit" value="Add publisher" class="btn btn-primary" />
                </div>
            </div>

            @if (ViewData["Message"] != null)
            {
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="alert alert-@ViewData["MsgType"]">
                            <b>Message: </b>@ViewData["Message"]<br />
                            @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                            {
                                <b>SQL: </b>@ViewData["ExecSQL"]?.ToString()
                            }
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</body>
</html>
