@model SysUser

<div class="container">

    <div class="my-3">
        <h2>Register an Account</h2>
    </div>

    <form asp-controller="Account"
          asp-action="Register"
          method="post">

        <div class="col-4 mb-3 form-floating">
            <input class="form-control"
                   placeholder="FullName" />
            <label>Full Name</label>
            <span labelclass="text-danger"></span>
        </div>

        <div class="col-4 mb-3 form-floating">
            <input class="form-control"
                   placeholder="Email" />
            <label>Email</label>
            <span labelclass="text-danger"></span>
        </div>

        <div class="col-4 mb-3 form-floating">
            <input class="form-control"
                   placeholder="UserId" />
            <label>User Id</label>
            <span labelclass="text-danger"></span>
        </div>

        <div class="col-4 mb-3 form-floating">
            <input class="form-control"
                   placeholder="UserPw" />
            <label>Password</label>
            <span labelclass="text-danger"></span>
        </div>

        <div class="col-4 mb-3 form-floating">
            <input class="form-control"
                   placeholder="UserPw2" />
            <label>Password Confirm</label>
            <span labelclass="text-danger"></span>
        </div>

        <div class="col-auto mb-3">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>

        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="col-6">
                    <div class="alert alert-@ViewData["MsgType"]">
                        <b>Message: </b>@ViewData["Message"]<br />
                        @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                        {
                            <b>SQL: </b>

                            @ViewData["ExecSQL"]?.ToString()
                        }
                    </div>
                </div>
            </div>
        }
    </form>
</div>
