<div class="container">

    <div class="my-3">
        <h2>About Us</h2>
    </div>

    <ul>
        <li>Find amazing movies and view upcoming releases.</li>
        <li>Search by year, title or genre.</li>
        <li>Order movies your way.</li>
    </ul>

</div>