<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <h1>Controller code</h1>
    public IActionResult Index()
    {
    return View();
    }
    <br/>
    <h1>View Called: Index</h1>
    <br />
    <h2>Controller: Demo</h2>
    <h2>Action: Index</h2>
    <h3>Id: null</h3>
</body>
</html>
