@model Cadet;

<form asp-controller="Cadet"
      asp-action="EditCadet"
      method="post">

    <div class="my-3">
        <h2>Edit Cadet</h2>
    </div>

    <input asp-for="CNo" hidden />

    <div class="col-md-4 mb-3 form-floating">
        <input asp-for="CName" class="form-control"
               placeholder="CName" />
        <label asp-for="CName">Name</label>
        <span asp-validation-for="CName" class="text-danger"></span>
    </div>

    <div class="col-md-4 mb-3 form-floating">
        <input asp-for="ClassGrp" class="form-control"
               placeholder="ClassGrp" />
        <label asp-for="ClassGrp">Class Group</label>
        <span asp-validation-for="ClassGrp" class="text-danger"></span>
    </div>

    <div class="col-md-4 mb-3 form-floating">
        <input asp-for="Shooting" class="form-control"
               placeholder="Shooting" />
        <label asp-for="Shooting">Shooting</label>
        <span asp-validation-for="Shooting" class="text-danger"></span>
    </div>

    <div class="col-md-4 mb-3 form-floating">
        <input asp-for="Fitness" class="form-control"
               placeholder="Fitness" />
        <label asp-for="Fitness">Fitness</label>
        <span asp-validation-for="Fitness" class="text-danger"></span>
    </div>

    <div class="col-md-4 mb-3 form-floating">
        <input asp-for="Exam" class="form-control"
               placeholder="Exam" />
        <label asp-for="Exam">Exam</label>
        <span asp-validation-for="Exam" class="text-danger"></span>
    </div>

    <div class="col-auto mb-3">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="col-6">
                <div class="alert alert-@ViewData["MsgType"]">
                    <b>Message: </b>@ViewData["Message"]<br />
                    @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                    {
                        <b>SQL: </b>

                        @ViewData["ExecSQL"]?.ToString()
                    }
                </div>
            </div>
        </div>
    }

</form>
